
$primary: #ca540b;


@import "./node_modules/bootstrap/scss/bootstrap.scss";


.logo-empresa{
    border-radius: 2px;
}

.section{
    padding: 60px 0;
}

.logo-empresa img{
    width: 120px;
    border-radius: 2px;
}
.banner{
        background:url(./img/fondoanaranjado3-1.jpg) no-repeat;
        background-size: cover;

}
.banner-content > h1{
    font-size: 90px;
    font-weight: normal;
    margin-bottom: 2rem;
}
.banner-content > h2{
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 2rem;
}
.logo-empresa{
    
    border-radius: 2px;
}
.h2{
    background: url(./img/fondoanaranjado3-1.jpg) no-repeat;
}


/*
@include media-breakpoint-only(xs){
    .banner-content > h1{
        font-size: 60px;
        line-height: 60px;
    }
    .banner-content > h2{
        font-size: 35px;
    }
}
@include media-breakpoint-only(sm){
    .banner-content > h1{
        font-size: 80px;
        line-height: 80px;
    }
    .banner-content > h2{
        font-size: 40px;
    }
}
@include media-breakpoint-only(md){
    .banner-content > h1{
        font-size: 90px;
        line-height: 100px;
    }
    
}
@include media-breakpoint-only(lg){
    .banner-content > h1{
        font-size: 70px;
        line-height: 85px;
    }
    .banner-content > h2{
        font-size: 40px;
    }
    
}

label{
    color: #ca540b;
}
h
    


